:root {
    --primary-color: #F57E0E;
    --secondary-color: #333;
    --link-color: #0000ff;
    --white:#fff;
    --special-font: 'Black Ops One';
    --shadow-white: #fff 0 0 .5rem;
    --shadow-black: #000 0 0 .5rem;
}

.bloque {
    display: flex;
    border: 1px solid black;
    padding: 0px;
    background-color: var(--secondary-color);
    color: white;
    width: -webkit-fill-available;
}

.imagen{
    margin-left: -1080px;
}

.inicio{
    display:flex;
    gap: 20px;
    list-style: none;
    margin-left: 890px;
    font-family: 'Roboto', sans-serif;
}

.opciones{
    font-weight: bolder;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque2{
    background-color: var(--primary-color);
}

.veterinaria{
     list-style: none;
     background-color: var(--primary-color);
     font-size: 20px;
     font-weight: bolder;
     font-family: 'Roboto', sans-serif;
     margin-left: 480px;
     color: var(--shadow-black);
     text-shadow:var(--shadow-white);
}

.imagen2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}